@font-face {
    font-family: 'Itim';
    src: url('/src/assets/fonts/Itim/Itim-Regular.ttf') format('truetype');
}
*{
    margin: 0;
    padding: 0;
}
:root{
    font-family:  'Itim';
    --primary:#5200ff;
    --secondary:rgb(82,0,255,70%)
}
#header{
    font-size: 40px;
}
#root{
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#pg-container-wrapper{
    position: relative;
    color: white;
    width: 60%;
    height: 60%;
    aspect-ratio: 20/10;
    border-radius: 30px;
    display: flex;
    /* padding: rem; */
    box-sizing: border-box;
    /* font-size: large; */
    border: 2px solid var(--secondary);
    /* overflow: scroll; */
}


#pg-container-wrapper>*{
    padding: 2rem;
}

#pg-container{
    position: relative;
flex-grow: 1;
flex-basis: 50%;
display: flex;
flex-direction: column;
justify-content: space-around;
box-sizing: border-box;
background-color: #ffffff;
color: black;
border-radius: 30px 0 0 30px ;
box-shadow: -10px 15px 20px 0px var(--secondary);
overflow: scroll;
}

.nav-container{
    display: none;
    position: absolute;
    right: 0;
}

.input-container{
    flex-grow: 1;
    flex-basis: 40%;
    width: 100%;
}

.setting-container{
    flex-grow: 1;
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.setting-container div{
width: 100%;
display: flex;
justify-content:space-between ;
}

#history-container{
flex-grow: 1;
flex-basis: 40%;
background-color: var(--secondary);
fill: white;
border-radius: 0 30px 30px 0;
overflow: hidden;
box-sizing: border-box;
}

.password-input-container{
    background: white;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    width: max-content;
}

.password-input{
    background-color: #ffffff;
    color: black;
    padding: 1rem;
    font-size: large;
    font-weight: 600;
    font-family: 'Itim';
    letter-spacing: 2px;
    border: 0;
    flex-grow: 1;
    overflow: hidden;
}

.copy-btn{
padding:1rem;
background-color: transparent;
box-sizing: border-box;
border: 0;
fill: inherit

}

.copy-btn:active svg path{
    fill: rgb(3, 255, 3);
}
.primary-btn{
margin: 1rem 0;
padding: 0.8rem 1rem;
border-radius: 30px;
font-family: 'Itim';
font-size: medium;
color: white;
border: 0;
background-color: var(--secondary);
}

.password-input-btn{
    display: flex;
    justify-content: space-between;
}

.setting-container .length-input input{
    border: 1px solid black;
    border-radius: 8px;
    box-sizing: border-box;
    outline: none;
}
.setting-container div input{
    padding: 0.4rem;
    height: 3rem;
  font-size: large;
}

.setting-container div input[type='checkbox']{
    transform: scale(1.5);
}


li,ul{
    list-style: none;

}
.password-field{
    opacity: 0.5;
    text-decoration: wavy;
    text-decoration-line: line-through;
}
.password-field:hover{
opacity: 1;
text-decoration: none;
}


  .pass-list{
/* box-sizing: border-box;
 */
 height: 100%;
 margin: 1rem 0;
 overflow: scroll;
  }

  @media screen and (width<=992px){
    :root,input,button{
    font-size: small !important;
    }
    #pg-container-wrapper{
        font-size: medium;
    }
  }
  @media screen and (width<=786px){
    :root,input{
        font-size: small !important;
    }
    #pg-container-wrapper{
        width: 75%;
    }
  }
  
  @media screen and (width<=576px){
    .input-container{
        width: 90%;
    }
    .nav-container{
        display: block;

    }
    .show-history{
        #history-container{
            flex-basis: 100%;
            border-radius: 30px;
            padding: 2rem;
        }
        #pg-container{
            box-sizing: border-box;
            flex-basis: 0%;
            padding: 0;
        }
    }
    .show-pg{
        #pg-container{
            flex-basis: 100%;
            border-radius: 30px;
            padding: 2rem;
        }
        #history-container{
            box-sizing: border-box;
            flex-basis: 0%;
            padding: 0;
        }
    }
    .password-input-container{
        width: 100%;
    }
    
  }

  @media screen and (width<506px){
    
    #pg-container-wrapper{
        margin: 1rem;
        scale: 1.1;
    }
    
  }

*{
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}
  /* @media screen and (width>=1200px){
    
  } */
  
  
  /* @media screen and (width>=1400px){
    
  } */
  
  ::-webkit-scrollbar{
    width: 5px;
    background-color: transparent;
    height: 0;
  }
  ::-webkit-scrollbar-thumb{
    background-color: rgb(200, 200, 200);
    border-radius: 1rem;
  }